h1 {
    text-align: center;
    background: rgb(196,192,181);
background: linear-gradient(90deg, rgba(196,192,181,1) 0%, rgba(251,255,0,1) 100%);
}
.current-weather{
    display: flex;
    justify-content: flex-end;
    padding-right: 25%;
    padding-bottom: 15%;
}

.current-weather > section {
    display:flex;
    flex-flow: row nowrap;
    width:500px;
justify-content: center;
    border: 1px solid black;
    padding: 5px;
}

.main-section {
    display:flex;
    justify-content: flex-end;
    padding-right: 25%;
}
.main-section h3 {
    display: flex;
    
    margin:0;
}

.main-section> h2 {
    display: block;
}
.main-section > section {
    border: 1px solid black;
    padding: 5px;
}
.main-section > section:nth-child(1) {
    border: 1px solid red;
}